#ipSection{
	ackground:grey;
	border:1px solid black;
	border-radius:2px;
	display:block;
	width:100%;
	in-height:500px;
	height:auto;
	padding:5px;
	}
	#gridWrapper{
		display:grid;
		rid-template-columns:repeat(2,1fr);
		grid-template-columns: 70% 30%;
		grid-auto-rows:auto;
		}
	#mainIpPanel{
	order:1px solid red;
	height:45px;
	background:#987d7d99;
		display:flex;
		flex-direction: row;
		flex-wrap: wrap;
justify-content: space-around;
align-items: center;
font-weight:bold;

		}
	#ipContainer{
		order:1px solid green;
	
		display:flex;
		flex-direction: row;
		flex-wrap: wrap;
justify-content: space-around;
align-items: center;
		}
	#chatContainer{
		}
	#mainIpFooter{
		order:1px solid pink;height:45px;
		display:flex;
		flex-direction: row;
		flex-wrap: wrap;
justify-content: space-around;
align-items: center;
		}
	.videocontainer{
		width:300px;
		height:330px;
		order:1px solid green;
		margin:5px;
		}
	.obenvideo,.undervideo{
	height:45px;
	display:flex;
	justify-content: flex-end;
align-items: center;
}
.benehmung,.benehmung2{align-self:center;}
.benehmung2.eye{
	width:50px;
	background-image:url( "/images/eye2.svg");
	background-repeat:no-repeat;
	background-size:100% 100%;
	height:85%;
	position:relative;
	}
	.benehmung.start{
		width:45px;
		background:black;
		border-radius:0.5rem;
	background-image:url( "/images/play.png");
	background-repeat:no-repeat;
	background-size:100% 100%;
	ackground-size:cover;
	order:1px solid red;
	height:85%;
		}
	.benehmung2.eye,.benehmung2.count{margin-right:4px;align-self:center;font-weight:bold;}
	.benehmung.zimmer,.benehmung.money{margin-right:auto;font-weight:bold;}
	.videowrapper{height:240px;position:relative;}
.knopkastart{
position:absolute;
top:50%;
left:50%;
width:45px;
height:45px;
/*
background-image:url( /images/play2.svg");
	background-repeat:no-repeat;
	background-size:100% 100%;
	*/ 
	background:rgba(255,255,255,0.9);
	border-radius:45px;
	transform:translate(-50%,-50%);
}
.knopkastart svg{fill:black;}
	.obenchat{
		height:45px;
		order:1px solid gold;
		display:flex;
		flex-direction: row;
		flex-wrap: wrap;
justify-content: flex-start;
align-items: center;
		}
		.obenchat div{padding:4px;}
		.underchat{height:45px;}
	.chat{min-height:340px;order:1px solid pink;background:white;}
	
	.strelka{
		width:30px;
		height:30px;
		display:inline-block;
		position:absolute;
		top:8px;
		right:2px;
		
		}
		.strelka svg{fill:blue;}
	.textarea{height: 44px;width:100%;position:relative;}
	textarea{height:100%;width:100%;padding:4px;}
	@media screen and (max-width: 751px){
		html{ackground:red;}
		#iSection{height:calc(1000px - 90px);}
		#gridWrapper{grid-template-columns: 100% 100%;}
		#chatContainer{
			grid-row-start:2;
		rid-row-end:3;
			}
		}
